.item-hovering {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  height: 32px;
  right: 0;
  padding: inherit;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--t--normal2);
  transition: opacity 0.3s;
}

.item-hovering .pos-top,
.item-hovering .pos-bottom {
  width: 100%;
  height: 10px;
  border: 1px solid var(--t--normal);
}

.drag-target .item-nohover {
  opacity: 0;
}

.drag-target .item-hovering {
  display: flex;
  opacity: 1;
}

.drag-target .item-hovering .pos-top.highlight,
.drag-target .item-hovering .pos-bottom.highlight {
  background-color: var(--t--normal) !important;
}
