:root {
  --t--normal: #3c8ddb;
  --t--normal2: #e0f0fd;
}

.lucide {
  color: var(--t--normal);
}

.lucide-circle-x {
  color: white;
}

.mypandora-dnd {
  height: 100%;
  overflow: auto;
}

.dnd-group {
  position: relative;
  display: flex;
  gap: 8px;
  padding: 8px;
}

.dnd-group--jion,
.dnd-group--expand,
.dnd-group--box {
  display: flex;
  align-items: center;
  color: #333;
}

.dnd-group--jion,
.dnd-group--expand {
  cursor: pointer;
}

.box--brackets {
  width: 15px;
  border-top: 1px solid var(--t--normal);
  border-left: 1px solid var(--t--normal);
  border-bottom: 1px solid var(--t--normal);
  border-radius: 5px 0 0 5px;
  height: 100%;
}

.items {
  min-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px 0;
}

.item {
  border: 1px solid var(--t--normal);
  background-color: var(--t--normal2);
  padding: 10px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  z-index: 9;
  margin-right: 10px;
  touch-action: none;
  max-width: 100%;
}

.item-nohover {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 32px;
  z-index: 19;
  transition: opacity 0.3s;
}

.item-nohover::before {
  position: absolute;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  content: "";
}

.item-nohover:hover > .item-close {
  display: block;
}

.item-nohover.dragging {
  opacity: 0;
}

.item-close {
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: -20px;
  top: -20px;
  line-height: normal;
  cursor: pointer;
}

.item-close > i {
  font-size: 20px;
  color: #ff5252;
}

.item-hovering {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  height: 32px;
  right: 0;
  padding: inherit;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--t--normal2);
  transition: opacity 0.3s;
}

.item-hovering .pos-top,
.item-hovering .pos-bottom {
  width: 100%;
  height: 10px;
  border: 1px solid var(--t--normal);
}

.drag-target .item-nohover {
  opacity: 0;
}

.drag-target .item-hovering {
  display: flex;
  opacity: 1;
}

.drag-target .item-hovering .pos-top.highlight,
.drag-target .item-hovering .pos-bottom.highlight {
  background-color: var(--t--normal) !important;
}

/* Drop indicator styling */
.drop-indicator {
  position: absolute;
  z-index: 10;
  background-color: #1d4ed8;
  pointer-events: none;
  box-sizing: border-box;
  height: 2px;
  left: 4px;
  right: 0;
}

/* Small circle styling */
.drop-indicator::before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  border: 2px solid #1d4ed8;
  border-radius: 50%;
  top: -4px;
  left: -10px;
}

.edge-top {
  top: calc(-0.65 * (var(--gap, 0px) + 2px));
}

.edge-bottom {
  bottom: calc(-0.65 * (var(--gap, 0px) + 2px));
}

.tree-node {
  position: relative;
  cursor: move;
}
